
<div id="tj_container" class="tj_container">
  <h2>Свертка (англ. convolution)</h2>
   <br>
  <p>Свертка (англ. convolution) — это операция, показывающая «схожесть» одной функции с отражённой и сдвинутой копией другой.
Понятие свёртки обобщается для функций, определённых на группах, а также мер.<p>
<p>Cвертка – это операция вычисления нового значения выбранного пикселя, учитывающая значения окружающих его пикселей.
  Для вычисления значения используется матрица, называемая ядром свертки.

  Ядро свёртки – это матрица коэффициентов,
  которая «умножается» на значение пикселей изображения для получения требуемого результата.
  Ниже представлено применение матрицы свёртки:
  <img src="http://unick-soft.ru/art/img/MatrixFilters/matrix.png">
  <p>
    div – это делитель, для того чтобы средняя интенсивность оставалась не изменой.</br>
    offset - коэффициент.<br>
    Они работают очень просто: результат преобразования делится на div и к нему прибавляется offset.
  </p>
  <br>
  Обычно ядро свертки является квадратной матрицей n*n, где n — нечетное,
  однако ничто не мешает сделать матрицу прямоугольной.
  Во время вычисления нового значения выбранного пикселя ядро свертки как бы «прикладывается» своим центром
  (именно тут важна нечетность размера матрицы) к данному пикселю. Окружающие пиксели так же накрываются ядром.
  Далее высчитывается сумма, где слагаемыми являются произведения значений пикселей на значения ячейки ядра,
  накрывшей данный пиксель. Сумма делится на сумму всех элементов ядра свертки.
  Полученное значение как раз и является новым значением выбранного пикселя.
  Если применить свертку к каждому пикселю изображения, то в результате получится некий эффект,
  зависящий от выбранного ядра свертки.</br>
   <br>
  <h2>Пример эффекта размытия</h2>
  <img src="http://www.patrick-fuller.com/wp-content/uploads/2012/11/compositedAverage-560x210.png"/>
   <br>
  <br>
</div>
