<h4>Метод<span> </span>Ниблацка</h4>
<br/>В данном методе для каждого пикселя изображения используется свое значение порога. Определение величины порога происходит на основе вычисления локального среднего и локального среднеквадратического отклонения. Значение порога в точке с координатами
<i>(m, n) </i>вычисляется в соответствии с формулой:<br/> <br/>
<img src="281029_html_m564b79c5.gif" name="object58" align=absmiddle width=199 height=19><br/> <br/>где
<img src="281029_html_26752ffa.gif" name="object59" align=absmiddle width=60 height=19> – среднее, а
<img src="281029_html_4a45d4c0.gif" name="object60" align=absmiddle width=61 height=19> – среднеквадратичное отклонение в локальной окрестности точки изображения
<i>(m, n)</i>.<br/>
<br/>Размер окрестности должен выбираться таким образом, чтобы, с одной стороны, при обработке сохранялись локальные детали, а с другой – чтобы можно было устранить шумы. Экспериментальные исследования показывают, что для окна
<img src="281029_html_m4cf87b7.gif" name="object61" align=absmiddle width=76 height=18> и коэффициента
<img src="281029_html_63184194.gif" name="object62" align=absmiddle width=66 height=18> удается получить на изображении хорошо разделенные объекты и фон.
<br/> </td></tr></table>
